<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--sectionGroup name="TfsCleanerOperations"-->
    <!--section name = "TfsCleanerOperations" type="FYK.Tfs.TfsCleaner.OperationsSection" allowLocation="true" allowDefinition="Everywhere"/-->
    <section name = "TfsCleanerOperations" type="FYK.Tfs.TfsCleaner.OperationsSection, TfsCleaner"/>
    <!--/sectionGroup-->
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <TfsCleanerOperations xmlns="TfsCleaner" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="TfsCleaner c:\Alex\Projects\TFS\TfsTools\TfsCleaner\TfsCleanerOperations.xsd">
    <Operations>
      <Operation Name="Move to closed iteration" Project="ISAstratex" Condition="[System.WorkItemType]='Task' and [System.State]='Closed' and [System.IterationPath]&lt;&gt;'ISAstratex\4. Dokončené'">
        <Action Type="Set" FieldName="System.IterationPath" NewValue="ISAstratex\4. Dokončené" />
      </Operation>
    </Operations>
    <Configuration URL="https://vyvoj1/tfs/AstraNET" UserName="fyaghob" Domain="astratex" Password="Mortis720411"/>
  </TfsCleanerOperations>
</configuration>